@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply bg-slate-50 font-Inter my-0 mx-auto leading-7;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium text-slate-700 opacity-100 dark:text-slate-400;
  }

  h1 {
    @apply text-4xl text-slate-900 font-extrabold  dark:text-slate-200 my-2;
  }

  .btn {
    @apply w-max inline-block py-3 px-[1.2rem] rounded-lg cursor-pointer border border-solid border-slate-300 transition-all duration-500 ease-in ;
  }
  .btn:hover {
    @apply border-transparent;
  }
  .container {
    @apply w-9/12 mx-auto my-0 sm:w-[90%] md:w-[86%];
  }
  section {
    @apply mt-32 md:mt-24 h-screen;
  }

  section > h2,
  section > h5 {
    @apply text-center;
  }
  section > h2 {
    @apply mb-12;
  }
  nav > a {
    @apply bg-transparent p-3.5 rounded-[50%] flex text-lg
  }
  a {
    @apply transition-all duration-500 ease-in;
  }
  a:hover {
    @apply text-slate-700;
  }
  img {
    @apply block w-full object-cover;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/*  General */
/* Equivalent Tailwind CSS classes */
/* h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: #0f172a;
}

section > h2 {
  margin-bottom: 3rem;
  color: red;
}
.text-light {
  color: brown;
}
a {
  color: red;
  transition: all 400ms ease;
}

a:hover {
  color: black;
}

.btn {
  width: max-content;
  display: inline-block;
  color: red;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid red;
  transition: all 400ms ease;
}

.btn:hover {
  background-color: red;
  color: black;
  border-color: transparent;
}

.btn-primary {
  background-color: red;
  color: black;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media Queries */
/* medium devices */
/* container {
  /* width: container-medium; */
/* color: red; */
/* } */

/* section {
  margin-top: 6rem;
} */

/* small devices */
container {
  /* width: container-small; */
  color: black;
}

/* section > h2 {
  margin-bottom: 2rem;
} */
